@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #f9f9f9;
  --fg: #111111;
}

.glass {
  @apply bg-white/60 dark:bg-white/5 backdrop-blur-md border border-white/20 dark:border-white/10;
}
